* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

body {
    display: flex;
    flex-direction: column;
}

.clientkeylogo {
    height: 18vh;
    width: 10vw;
    padding-top: 1vh;
}

.botaonovocl {
    height: 5vh;
    width: 30%;
    margin-top: 13vh;
    border-radius: 9px;
    border: none;
    background-color: #CFD8DC;
    transition: background-color 0.3s, color 0.3s;
    font-size: 12px;
}

.botaonovocl:hover {
    background-color: #5C78DB;
    color: #ffffff;
}

input, 
input[type=password] { 
    width: 100%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 2px solid #ccc; 
    box-sizing: border-box; 
}  

input:focus {
    border-color: #4169E1;
    box-shadow: 0 0 8px rgba(65, 105, 225, 0.3);
    outline: none;
}

.cancelbtn {
    background-color: #FF6347;
    color: white;
}

.cancelbtn:hover {
    background-color: #E5533B;
}

.cancelbtn, .signupbtn {
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 40%; /* Ajusta a largura para não ficar muito larga */
    border-radius: 10px;
    font-size: 15px;
    transition: background-color 0.3s ease;
    text-align: center; /* Centraliza o texto */
}

.signupbtn {
    background-color: #4169E1;
    color: white;
}

.signupbtn:hover {
    background-color: #3558C9;
}

.container { 
    padding: 20px;
    /* border-radius: 10px;  */
}

.modal { 
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.4); 
    padding-top: 60px; 
} 

.modal-header, .modal-footer {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

label {
    font-weight: bold;
    font-size: 14px;
    color: #000000;
}

input:required {
    border-left: 3px solid #FF6347;
}

.modal-content {
    background-color: #f9f9f9;
    margin: 5% auto;
    padding: 20px;
    border: none;
    border-radius: 15px; /* Arredonda as bordas */
    width: 60%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
    transition: all 0.3s ease; /* Transição suave */
}

.close { 
    position: absolute; 
    right: 35px; 
    top: 15px; 
    color: #000; 
    font-size: 40px; 
    font-weight: bold; 
} 

.close:hover, 
.close:focus { 
    color: red; 
    cursor: pointer; 
} 

.clearfix {
    display: flex; /* Utiliza flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    gap: 20px; /* Adiciona espaço entre os botões */
    margin-top: 15px;
}

.clearfix::after { 
    content: ""; 
    clear: both; 
    display: table; 
} 

@media screen and (max-width: 600px) {
    .modal-content {
        width: 80%;
    }

    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

.topo {
    align-items: center;
    justify-content: center;
    display: flex;
    /* background-color: #5C78DB; */
    background-color: #4169E1;
    height: 10vh;
    width: 100vw;
}

.segundaparte {
    height: 80vh;
    width: 100vw;
    display: flex;
}

.lateral {
    width: 25vw;
    height: 90vh;
}

.interiorlateral {
    background-color: #CFD8DC;
    width: 20vw;
    height: 83vh;
    margin-left: 2.5vw;
    margin-top: 3.3vh;
    padding-top: 1vh;
    border-radius: 12px;
}

.principal {
    width: 75vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.cima {
    height: 20vh;
    width: 72.3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 28vw;
}

.baixo {
    height: 70vh;
    width: 75vw;
}

.botao-engrenagem{
    /* height: 5vh; */
    width: 100%;
    /* margin-top: 13vh; */
    border-radius: 5px;
    border: none;
    background-color: #CFD8DC;
    transition: background-color 0.3s, color 0.3s;
    font-size: 12px;
}

.botao-engrenagem:hover{
    background-color: #5C78DB;
    color: #ffffff;
}

.pesquisa{
    margin-top: 13vh;
    display: flex;
    flex-direction: column;
}

#barrapesquisa {
    /* margin-top: 13vh; */
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    background-color: #CFD8DC;
    width: 20vw;
    font-size: 12px;
}

#barrapesquisa::placeholder {
    color: #000000;
}

#barrapesquisa:focus {
    border-color: #333;
}

.cimalateral {
    background-color: #212121;
    height: 36vh;
    width: 16vw;
    display: flex;
    margin-left: 2.1vw;
    margin-top: 2.5vh;
    flex-direction: column;
    color: white;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    /* align-items: center; */
    border-radius: 10px;
}

.blococima {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#usuarioatual {
    margin-bottom: 10px;
}


.baixolateral {
    background-color: #212121;
    height: 36vh;
    width: 16vw;
    display: flex;
    margin-left: 2.1vw;
    margin-top: 4.5vh;
    border-radius: 10px;
}

.uservazio {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.interiorbaixo {
    min-height: 65.3vh;
    width: 72.3vw;
    background-color: #CFD8DC;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.card_total {
    display: flex;
}

.card {
    background-color: #ffffff;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    padding: 10px;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 19%;
    gap: 1vw;
    /* border: 1px solid #ccc; */
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.botoes > button {
    height: 3vh;
    width: 3vw;
}

.botao_excluir {
    border: none;
    background-color: #CFD8DC;
    transition: background-color 0.3s, color 0.3s;
    font-size: 12px;
    border-radius: 5px;
}

.botao_excluir:hover {
    background-color: #db1515;
    color: #ffffff;
}

.botao_editar {
    border: none;
    background-color: #CFD8DC;
    transition: background-color 0.3s, color 0.3s;
    font-size: 12px;
    border-radius: 5px;
}

.botao_editar:hover {
    background-color: #4169E1;
    color: #ffffff;
}

.cliente_card {
    margin-left: 10px;
}

#calendario {
    font-family: Arial, sans-serif;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    color: #ffffff;
    /* background-color: #333; */
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
    margin: 0 auto; 
    max-width: 250px; 
}

#calendario h2 {
    margin: 0;
    font-size: 1.2em; 
    color: #ffffff;
    padding-bottom: 12px;
    text-transform: capitalize; 
}

#calendario .dias-semana,
#calendario .dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
    font-size: 14px;
}

#calendario .dias-semana div {
    font-weight: bold;
    color: #b0bec5;
}

#calendario .dia {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

#calendario .dia:hover {
    background-color: #5C78DB;
}

#calendario .hoje {
    background-color: #5C78DB;
    color: #ffffff;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(92, 120, 219, 0.5);
}

#calendario .dias div:empty {
    visibility: hidden;
}

@media (max-width: 600px) {
    #calendario {
        width: 90%;
        font-size: 12px;
        padding: 10px;
    }

    #calendario h2 {
        font-size: 1em;
    }

    #calendario .dias-semana div,
    #calendario .dia {
        padding: 8px;
    }
}
